[Unit]
Description=keyboard-backlight-daemon

[Service]
LimitNOFILE=8192
ExecStart=/usr/bin/keyboard-backlight-daemon -c /etc/keyboard-backlight-daemon/keyboard-backlight-daemon.yaml --no-style
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
